<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temoco.builder.db.mapper.ChangeTaskMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.temoco.builder.db.mapper.entity.ChangeTask">
                <result column="id" property="id" />
                <result column="gmt_create" property="gmtCreate" />
                <result column="gmt_modified" property="gmtModified" />
                <result column="creator" property="creator" />
                <result column="modifier" property="modifier" />
                <result column="deleted" property="deleted" />
                <result column="task_no" property="taskNo" />
                <result column="task_param" property="taskParam" />
                <result column="status" property="status" />
                <result column="task_message" property="taskMessage" />
                <result column="task_count" property="taskCount" />
                <result column="next_time" property="nextTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                    id,
                    gmt_create,
                    gmt_modified,
                    creator,
                    modifier,
                    deleted,
                task_no, task_param, status, task_message, task_count, next_time
        </sql>

</mapper>
